@*******************************************************************************
* Licensed to the Apache Software Foundation (ASF) under one or more		   *
* contributor license agreements.  See the NOTICE file distributed with	   *
* this work for additional information regarding copyright ownership.         *
* The ASF licenses this file to You under the Apache License, Version 2.0     *
* (the "License"); you may not use this file except in compliance with        *
* the License.  You may obtain a copy of the License at                       *
*                                                                             *
*    http://www.apache.org/licenses/LICENSE-2.0                               *
*																			   *
* Unless required by applicable law or agreed to in writing, software         *
* distributed under the License is distributed on an "AS IS" BASIS,           *
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.    *
* See the License for the specific language governing permissions and         *
* limitations under the License.											   *
*******************************************************************************@ 

@(url: String) 

@import helper._ 

@scripts = {
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href='@routes.Assets.at("stylesheets/jquery.comment.css")'>
<link rel="stylesheet" href='@routes.Assets.at("stylesheets/jquery.mentionsInput.css")'>
<link rel="stylesheet" href="//code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css">

<script src="//code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
<script src="//code.jquery.com/ui/1.9.2/jquery-ui.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src='@routes.Assets.at("javascripts/jquery.timeago.js")'></script>
<script src='@routes.Assets.at("javascripts/jquery.autogrow-textarea.js")'></script>
<script src='@routes.Assets.at("javascripts/jquery.mentionsInput.js")'></script>
<script src='@routes.Assets.at("javascripts/lib/jquery.elastic.js")'></script>
<script src='@routes.Assets.at("javascripts/lib/jquery.events.input.js")'></script>
<script src='@routes.Assets.at("javascripts/jquery.comment.js")'></script>

<script type="text/javascript">
	$(document).ready(function(){
	    $.ajaxPrefilter(function(options, originalOptions, jqXHR){
		options.async = true;
	    });
  
	    var url = null;
	    try{
		var urlOri = "@url";
		var urlArray = urlOri.split('/');
		url = urlArray[urlArray.length - 1];
	    }
	    catch(e){
		console.log(e);
	    }

	    $('#toLoad').load("@url");
  
	    $('div.comment-container').comment({
		title: 'Comments',
		url_get: '/comment/getComment/' + url,
		url_input: '/comment/postComment/' + url,
		url_delete: '/comment/deleteComment/' + url,
		limit: 10,
		auto_refresh: false,
		refresh: 10000,
		transition: 'slideToggle'
	    });

	    $('textarea.mention').mentionsInput({
	    	onDataRequest:function (mode, query, callback) {
	    	    var data = [
	    		{ id:1, name:'Kenneth Auchenberg', 'avatar':'http://cdn0.4dots.com/i/customavatars/avatar7112_1.gif', 'type':'contact' },
	    		{ id:2, name:'Jon Froda', 'avatar':'http://cdn0.4dots.com/i/customavatars/avatar7112_1.gif', 'type':'contact' },
	    		{ id:3, name:'Anders Pollas', 'avatar':'http://cdn0.4dots.com/i/customavatars/avatar7112_1.gif', 'type':'contact' },
	    		{ id:4, name:'Kasper Hulthin', 'avatar':'http://cdn0.4dots.com/i/customavatars/avatar7112_1.gif', 'type':'contact' },
	    		{ id:5, name:'Andreas Haugstrup', 'avatar':'http://cdn0.4dots.com/i/customavatars/avatar7112_1.gif', 'type':'contact' },
	    		{ id:6, name:'Pete Lacey', 'avatar':'http://cdn0.4dots.com/i/customavatars/avatar7112_1.gif', 'type':'contact' }
	    	    ];

	    	    data = _.filter(data, function(item) { return item.name.toLowerCase().indexOf(query.toLowerCase()) > -1 });

	    	    callback.call(this, data);
	    	},
	    	minChars:0
	    });
	});
    </script>
}

@main("Service", scripts) {

	<div id="toLoad" align="center">
	</div>

	<hr style="display: block;margin-top: 2em;margin-bottom: 2em;margin-left: auto;margin-right: auto;border-style: inset;border-width: 1px;">

	<textarea id="testArea" class="mention" style="background-color: transparent;"></textarea>

	<div class="container">
	<div class="comment-container"></div>
	</div>
}
