@*******************************************************************************
    * Licensed to the Apache Software Foundation (ASF) under one or more		   *
    * contributor license agreements.  See the NOTICE file distributed with	   *
    * this work for additional information regarding copyright ownership.         *
    * The ASF licenses this file to You under the Apache License, Version 2.0     *
    * (the "License"); you may not use this file except in compliance with        *
    * the License.  You may obtain a copy of the License at                       *
    *                                                                             *
    *    http://www.apache.org/licenses/LICENSE-2.0                               *
    *																			   *
    * Unless required by applicable law or agreed to in writing, software         *
    * distributed under the License is distributed on an "AS IS" BASIS,           *
    * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.    *
    * See the License for the specific language governing permissions and         *
    * limitations under the License.											   *
    *******************************************************************************@ 

@(url: String, version: String) 

@import helper._ 

@scripts = {
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href='@routes.Assets.at("stylesheets/jquery.comment.css")'>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href='@routes.Assets.at("stylesheets/jquery.raty.css")'>

	<script src="//code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
	<script src="//code.jquery.com/ui/1.9.2/jquery-ui.min.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src='@routes.Assets.at("javascripts/jquery.timeago.js")'></script>
	<script src='@routes.Assets.at("javascripts/jquery.autogrow-textarea.js")'></script>
	<script src='@routes.Assets.at("javascripts/jquery.comment.js")'></script>
	<script src='@routes.Assets.at("javascripts/jquery.raty.js")'></script>

	<script type="text/javascript">
	jQuery(document).ready(function($){
	    $.ajaxPrefilter(function(options, originalOptions, jqXHR){
		options.async = true;
	    });
	    
	    var url = null;
	    try{
		var urlOri = "@url";
		var urlArray = urlOri.split('/');
		url = urlArray[urlArray.length - 1];
	    }
	    catch(e){
		console.log(e);
	    }

	    $('#toLoad').load("@url");

	    $.getJSON('/users/getUsernamesAndServicesAutoCompleteSource',function(data){
		$('#commentContainer').comment({
		    title: 'Comments',
		    url_get: '/comment/getComment/' + url + "/@version",
		    url_input: '/comment/postComment/' + url + "/@version",
		    url_delete: '/comment/deleteComment/' + url + "@version",
		    usersAndServices: data.usernamesAndServices,
		    limit: 10,
		    auto_refresh: false,
		    refresh: 10000,
		    transition: 'slideToggle'
		});

		console.log("/climate/postRating/" + 1 + "/" + url + "/1");

		$.ajax({
			type  : "GET",
			url   : "/rating/getRating/" + url + "/1"
		}).done(function (ret) {
			console.log("GET: " + ret);
			console.log("GET: " + ret.individual_rate);
			console.log("GET: " + ret.average_rate);

			$('#rating').raty({
  			path: '/assets/images',
  			cancel      : true,
  			cancelPlace : 'right',
 			half        : false,
 			score       : function(){
 				return ret["individual_rate"];
 			},
  			click       : function(score, evt) {
      			$.ajax({
      				type : "POST",
        			url: "/rating/postRating/" + score + "/" + url + "/1"
    			}).done(function (ret) {
					var average_rate = ret.average_rate;
					console.log("POST: " + ret["average_rate"]);
    			});
    		}

 		 });
		});


	    });
	});
    </script>

	<style>
	.ui-autocomplete {
	    max-height: 200px;
	    overflow-y: auto;
	    overflow-x: hidden;
	    padding-right: 20px;
	}
	* html .ui-autocomplete {
	    height: 200px;
	}
    </style>
}

@main("Service", scripts) {

	<div id="toLoad" align="center">
	</div>

	<hr style="display: block;margin-top: 2em;margin-bottom: 2em;margin-left: auto;margin-right: auto;border-style: inset;border-width: 1px;">

    @if(session.get("email")){
	    <div id="rating">Rate this service: </div>
	    <br/>
    }
	    
	<div class="container">
	<div class="comment-container" id="commentContainer"></div>
	</div>
}
